#seccion1{
    left:100%;
	width: 40%;
	height: 350px;
	margin: 0 0 0 10%;
	background-color:rgb(93, 128, 224);
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
}
#seccion2{
	float:right;
	width: 40%;
	height: 350px;
	margin: 0 10% 0 0;
	background-color: rgb(136, 185, 19);
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
}
.menu li{
	
	list-style: none;

	color:#000;
	display: inline;
	background:rgba(30, 40, 175, 0.753);
	margin: 0 10px;
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
}
body{
	/* background-color: green; */
	background-image: url(../imagenes/F5.jpg);

}




